* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(69, 123, 157);
}


/* Navbar */

.navbar {
    position: sticky;
    right: 0;
    z-index: 1000;
    
}

.navbar-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    background-color: aqua;
}

.nav-right {
    display: flex;
}

.logo {
    border-radius: 50%;
    margin: 0 1rem;
    width: 80px;
    height: 80px;
}

.nav-name {
    font-style: italic;
    font-size: 20px;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
}
.nav-name :hover{
    color: sandybrown;
    transition: all 0.3s ease;

    
    
}
.move{
    text-decoration: none;
}
.nav-left{
 margin-left: auto;
}
.nav-items-container{
     display: flex;
     flex-wrap:wrap ;
    
}
.nav-items{
    margin: 1rem;
    list-style-type: none;

}
.nav-items-link{
    text-decoration: none;

}
.nav-items-link:hover {
    color: rgba(0, 18, 25);
    text-decoration: underline;
}

/* hero section */
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.hero-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(13, 214, 16, 0.543);
  &:hover {
    transform: scale(1.05);
  }
    transition: transform 0.3s ease;
}

.hero-left,
.hero-right {
    width: 100%;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    
}

.hero-container.title {
    text-align: left;
    padding-right: 3rem;
}

.description {
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
}

/* resume section */
/* projects section */
.resume-container{
    margin-top: 1rem;
    padding: 6.5rem 1rem 0 1rem;
    min-height: 100vh;
}

.subtitle{
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}
.line{
    background-color: blue;
    width: 100%;
    height: 2px;
    margin: 1rem 0 2rem 0;
}
.inner-line{
    background-color: chocolate;
    width: 50px;
    height: 2px;
    margin: 1rem 0 2rem 0;
}

.resume-sub-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;

}
.resume-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    align-items: center;
    grid: 1.25rem;
border-left: 5px solid #333;

}
.resume-duration-container{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.round-div{
    height: 24px;
    width: 24px;
    background-color: #333;
    border-radius: 50%;
   position: absolute;
   left: -15px;
}
.resume-duration{
    background-color: black;
    width: auto;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
line-height: 1.25rem;
text-align: center;
}
.resume-university{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.resume-subject{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #555;
}
.resume-result{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #666;
    margin-bottom: 0.5rem;
}









    



/* Container */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .hero-left {
        width: 40%;
    }
    .hero-right {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

